// login.component.scss

$primary-color: #6a1b9a; // Purple color for primary theme
$secondary-color: #f3f4f6; // Light gray for backgrounds
$error-color: #f44336; // Error color
$background-color: #ffffff; // White background for the login form

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full viewport height
  background-color: $secondary-color; // Light gray background
  padding: 2rem; // Padding around the container
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 96.5%; // Make it responsive to the screen width

  @media (max-width: 768px) { // Tablet and mobile devices
    padding: 1rem; // Reduce padding on smaller screens
  }
}

h2 {
  color: $primary-color;
  margin-bottom: 2rem;
  font-size: 1.5rem; // Responsive font size

  @media (max-width: 768px) { // Tablet and mobile devices
    font-size: 1.25rem; // Smaller font size for smaller screens
    margin-bottom: 1.5rem; // Adjust margin
  }
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%; // Full width for input fields
  max-width: 400px; // Max width for the form fields
  padding: 0 1rem; // Equal padding on left and right for balance

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem; // Responsive font size

    @media (max-width: 768px) {
      font-size: 0.9rem; // Smaller font size for smaller screens
    }
  }

  input {
    width: 100%;
    padding: 0.75rem; // Increased padding for better touch targets
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 1rem; // Responsive font size

    @media (max-width: 768px) {
      font-size: 0.9rem; // Smaller font size for smaller screens
    }

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  .error {
    color: $error-color;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}

.submit-button {
  background-color: $primary-color;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem; // Responsive font size
  margin-top: 1rem; // Space between the button and form elements

  @media (max-width: 768px) {
    font-size: 0.9rem; // Smaller font size for smaller screens
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
